.n·ªÅn {
    background-color: aliceblue;
}

.headding {
    text-align: center;
}

.headding1 {
    background-color: rgb(0, 157, 255);
}

.headding2 {
    background-color: white;
}

.table {
    width: 100%;
    height: 300%;
}